jobboard
jobboard-monorrepo/node_modules
jobboard-monorepo/apps/api/.env

jobboard-monorepo/node_modules/
jobboard-monorepo/apps/api/node_modules/
jobboard-monorepo/apps/web/node_modules/


jobboard-monorepo/.nx/cache
jobboard-monorepo/.nx/workspace-data
.vscode/
# Next.js
jobboard-monorepo/.next
jobboard-monorepo/out
jobboard-monorepo/.vscode
jobboard-monorepo/.gitignore